<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Ced_Dropship::dropship" title="Dropship" sortOrder="51">
                    <resource id="Ced_Dropship::product" title="Import Product"/>
                    <resource id="Ced_Dropship::order" title="Export Order"/>
                    <resource id="Ced_Dropship::config" title="Configuration"/>
                    <resource id="Ced_Dropship::activity_log" title="Logs"/>
                    <resource id="Ced_Dropship::extras" title="Help" sortOrder="51">
                        <resource id="Ced_Dropship::dropshipsupport" title="Support"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>